// Primary site layout for Centrarium Theme

/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$desktop: $b1;

/*
*	Globals
*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

ol.default {
  @extend %default-ol;
}

ul.default {
	@extend %default-ul;
}

code {
	background-color: #eee;
	display: inline-block;
	border-radius: 3px;
	padding: 0 3px;
}

blockquote {
	color: $medium-gray;
	font-style: italic;
	border-left: 2px solid $light-gray;
	margin-left: 0;
	padding-left: 3em;
}

pre code.hljs {
	font-size: modular-scale(-1);
}

.page-divider {
	$divider-color: $light-gray;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $divider-color;
  .one {
    position: relative;
    top: -9px;
    display: block;
    background: $divider-color;
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .two {
    position: relative;
    top: -26px;
    display: block;
    background: $white;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}

.tooltip {
	border-bottom: 1px dotted $medium-gray;
}


.site-header-container, .post-header-container {
	width: 100%;
	text-align: center;

	// Added for background video support
	position: relative;
	overflow: hidden;

	// Make the video behave like a cover background image
	video.cover-video {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

	&.has-cover {
		// Ensure the hero area has height even if the video/image is absolutely positioned
		min-height: 420px;

		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
		background-position: 50% 50%;
		background-size: cover;
		.title {
			font-size: modular-scale(6);
		}
		.subtitle, .info {
			font-size: modular-scale(1);
		}
	}

	.scrim {
		// Keep text/scrim above the video
		position: relative;
		z-index: 1;

		padding: 3em 1em;
		&.has-cov
