// Primary site layout for Centrarium Theme

/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$desktop: $b1;

/*
*	Globals
*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden; // prevent horizontal scrollbars (often caused by 100vw)
}

ol.default {
  @extend %default-ol;
}

ul.default {
	@extend %default-ul;
}

code {
	background-color: #eee;
	display: inline-block;
	border-radius: 3px;
	padding: 0 3px;
}

blockquote {
	color: $medium-gray;
	font-style: italic;
	border-left: 2px solid $light-gray;
	margin-left: 0;
	padding-left: 3em;
}

pre code.hljs {
	font-size: modular-scale(-1);
}

.page-divider {
	$divider-color: $light-gray;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $divider-color;
  .one {
    position: relative;
    top: -9px;
    display: block;
    background: $divider-color;
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .two {
    position: relative;
    top: -26px;
    display: block;
    background: $white;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}

.tooltip {
	border-bottom: 1px dotted $medium-gray;
}

/*
*	Hero header containers (homepage + posts)
*/
.site-header-container, .post-header-container {
	width: 100%;
	text-align: center;

	// Background video support
	position: relative;
	overflow: hidden;

	// Make the video behave like a cover background image
	video.cover-video {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

	&.has-cover {
		// Ensure the hero area has height even if the video/image is absolutely positioned
		min-height: 420px;

		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
		background-position: 50% 50%;
		background-size: cover;
		.title {
			font-size: modular-scale(6);
		}
		.subtitle, .info {
			font-size: modular-scale(1);
		}
	}

	.scrim {
		// Keep text/scrim above the video
		position: relative;
		z-index: 1;

		padding: 3em 1em;
		&.has-cover {
			background-color: rgba(0,0,0,0.2);
			padding: 6em 1em !important;
			@include media($tablet) {
				padding: 9em 1em !important;
			}
		}
	}
}

/*
*	Header
*/
.navigation {
	box-shadow: 0 2px $highlight-color;
	padding: 0 1em;
	margin: 0;
	// Remove this to make header scrollable again
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $white;
	z-index: 1;
	/*
	*	Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
	*/
  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em;
    @include media ($tablet) {
      display: none;
    }
  }
  // Nav menu
  .navigation-wrapper {
  	@include outer-container;
    @include clearfix;
    position: relative;
  }
  .logo {
    float: left;
    height: 4em;
    @include media ($tablet) {
    	padding-left: $em-base;
    }
    img {
      max-height: 2.5em;
      margin-top: 0.75em;
      padding-right: 1em;
    }
    span, .site-title {
    	font-size: 1.25em;
    }
  }
  nav {
    float: none;
    padding: 1.25em 0;
    @include media ($tablet) {
      float: right;
      line-height: 1.5em;
    }
  }
  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($tablet) {
      display: block;
      margin: 0;
      padding: 0;
    }
    &.show {
      display: block;
    }
  }
  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;
    @include media ($tablet) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }
  li.nav-link {
  	a {
	    display: inline-block;
	    @include media ($tablet) {
	      padding-right: 1.5em;
	    }
	  }
	  &:last-child a {
	  	@include media ($tablet) {
    		padding-right: 1em;
    	}
    }
  }
}

/*
*	Body
*/
.page-content {
	// Remove this to make header scrollable again
	margin-top: 66px;

	.wrapper {
		@include outer-container;
		padding: 1em;
	}

	/*
	*	index.html
	*/
	.post-list {
		padding-top: 1em !important;
		@extend %default-ul;
	}
	.post-meta {
		@include outer-container;
		color: $medium-gray;
		.post-date {
			@include span-columns(6);
			text-align: left;
			font-size: 0.9em;
		}
		.post-categories {
			@include span-columns(6);
			margin-right: 0;
			text-align: right;
			font-size: 0.9em;
		}
	}
	.pagination {
		padding-top: 2em;
		text-align: center;
		color: $medium-gray;
		.page-number {
			padding: 0 1em;
		}
    a.newer-posts {
      text-decoration: none;
    }
	}

	.site-header-container {
		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.33);
		background-color: $highlight-color;

		.site-header{
			.title {
				font-size: modular-scale(6);
			}
			.subtitle {
				font-style: italic;
				font-size: modular-scale(1);
			}
		}
	}

	img {
		display: block;
		margin: auto;
		width: 90%;
	}

	/*
	*	Posts
	*/
	.post {
		ul {
			margin-bottom: 1em;
		}
		.post-header-container {
			.scrim {
				padding: 2em 1em 1em 1em;
			}
		}
		.post-meta {
			padding-bottom: 1em;
		}
		.post-content {
			padding: 1em 0;
		}
		.tags {
			font-size: 0.9em;
		}
		.rss {
			margin: 1em 0 0 0;
			@include span-columns(12);
			@include media ($tablet) {
				margin: 1em 0;
				@include span-columns(6);
			}
		}
		.share {
			font-weight: bold;
			margin: 0 0 1em 0;
			@include span-columns(12);
			@include media ($tablet) {
				@include span-columns(6);
				margin: 1em 0;
				text-align: right;
			}
			a {
				width: 1em;
				padding: 0 0.25em;
				text-decoration: none;
			}
		}
		.disqus {
			@include span-columns(12);
		}
		.post-navigation {
			font-size: 0.9em;
			display: block;
			width: auto;
			.prev-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
			}
			.next-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
				text-align: right;
			}
		}
	}

	/*
	*	Pages
	*/
	.page {
		.post-header {
			padding: 0.5em 1em 1em 1em;
			text-align: center;
		}
		.posts-list {
			@extend %default-ul;
			li {
				padding: modular-scale(-4);
				padding-left: 0;
			}
			.desc {
				font-size: 0.9em;
			}
			.post-date {
				color: $medium-gray;
			}
		}
		.profile {
			max-width: 320px;
			margin: auto;
			padding-bottom: 0.5em;
 		}
	}
}

/*
*	Footer
*/
.site-footer {
	$link-color: $white;
	padding: 1em 1em 2em 1em;
	background-color: $highlight-color;
	color: $white;
	a {
	  color: $link-color;
	  &:active,
	  &:focus,
	  &:hover {
	    color: darken($link-color, 10%);
	  }
	  &:active,
	  &:focus {
	    outline: none;
	  }
	}
	.wrapper {
		@include outer-container;
	}
	.footer-heading { }

	/*
	*	Site Navigation (left)
	*/
	.site-navigation {
		@include span-columns(12);
		@include media ($mobile) {
			@include span-columns(6);
		}
		@include media ($tablet) {
			@include span-columns(4);
		}
		font-size: 0.9em;
		ul {
			@extend %default-ul;
		}
	}

	/*
	*	Contact Info (center)
	*/
	.site-contact {
		margin-top: 1em;
		@include span-columns(12);
		@include media ($mobile) {
			@include span-columns(6);
			margin-top: 0;
			margin-right: 0;
		}
		@include media ($tablet) {
			@include span-columns(4);
			margin-top: 0;
		}
		font-size: 0.9em;
		i {
			width: 1.25em;
			text-align: center;
		}
		ul {
			@extend %default-ul;
		}
	}

	/*
	*	Site Description/Signature (right)
	*/
	.site-signature {
		margin-top: 1em;
		@include span-columns(12);
		@include media ($tablet) {
			@include span-columns(4);
			margin-right: 0;
			margin-top: 0;
		}
		font-size: 0.9em;
		a {
			text-decoration: underline;
		}
	}
}

/* =========================================================
   HOMEPAGE: HIDE BIG TITLE / SUBTITLE SECTION (below video)
   ========================================================= */

.home .site-header,
.home .site-header .title,
.home .site-header .subtitle {
  display: none !important;
}

.home .scrim.has-cover {
  padding: 0 !important;
  background: transparent !important;
}

/* =========================================================
   HOMEPAGE: FULL-BLEED VIDEO (edge-to-edge)
   ========================================================= */

/* Remove any left/right padding that can stop true edge-to-edge on home */
.home .page-content {
  padding-left: 0;
  padding-right: 0;
}

/* Break the hero out of any centered container */
.home .site-header-container.has-cover {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/* Ensure the video fills that full-bleed container */
.home .site-header-container.has-cover video.cover-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* =========================================================
   HOMEPAGE: TITLE OVER VIDEO (bottom-left)
   ========================================================= */

.home .site-header-container.has-cover {
  position: relative; // ensure absolute children are anchored here
}

.home .site-header-container.has-cover .cover-text{
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  z-index: 2; // above the video
  text-align: left;
  color: $white;
  max-width: 720px;
  text-shadow: 0 2px 10px rgba(0,0,0,0.55);
}

.home .site-header-container.has-cover .cover-title{
  font-size: clamp(2.6rem, 5vw, 4.2rem);
  line-height: 1.05;
  margin: 0 0 0.35rem 0;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.home .site-header-container.has-cover .cover-subtitle{
  font-size: clamp(1.05rem, 2vw, 1.45rem);
  margin: 0;
  opacity: 0.92;
  font-weight: 400;
}

/* Mobile spacing */
@media (max-width: 900px) {
  .home .site-header-container.has-cover .cover-text{
    left: 1.25rem;
    bottom: 1.25rem;
    right: 1.25rem;
  }
}
/* =========================================================
   HOMEPAGE: INTRO TWO-COLUMN (text left, PI image right)
   ========================================================= */

.home .home-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin: 3rem auto 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}

.home .home-intro .intro-text p {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.home .home-intro .intro-image {
  flex: 0 0 320px;
  display: flex;
  justify-content: center;
}

.home .home-intro .image-wrapper {
  position: relative;
  width: 320px;
  max-width: 320px;
}

/* Override theme's global img rule */
.home .home-intro img {
  width: 320px !important;
  max-width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  border-radius: 6px;
  display: block;
}

.home .home-intro .image-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0.9rem;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  text-align: center;
  font-size: 1.05rem;
  font-weight: 500;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* =========================================================
   HOMEPAGE: FIELD DEFINITION (Ecophysiology block)
   ========================================================= */

.home .field-definition {
  margin-bottom: 1.75rem;
}

.home .field-title {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  letter-spacing: -0.01em;
}

.home .field-definition-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: $medium-gray;
  margin: 0;
}

/* Responsive stacking */
@media (max-width: 900px) {
  .home .home-intro {
    flex-direction: column;
    align-items: flex-start;
  }

  .home .home-intro .intro-image {
    flex: none;
    margin-top: 1.5rem;
  }

  .home .home-intro img {
    width: 260px !important;
  }
}
